<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>orochi_2011</key>
	<string>https://assets.razerzone.com/eeimages/support/products/612/612_orochi_2015.png</string>
	<key>deathadder_3_5g</key>
	<string>https://assets2.razerzone.com/images/da10m/carousel/razer-death-adder-gallery-04.png</string>
	<key>abyssus_1800</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1277/1277_abyssus_2000.png</string>
	<key>mamba_2012_wired</key>
	<string>https://assets.razerzone.com/eeimages/support/products/192/192_mamba_2012.png</string>
	<key>mamba_2012_wireless</key>
	<string>https://assets.razerzone.com/eeimages/support/products/192/192_mamba_2012.png</string>
	<key>naga_2012</key>
	<string>https://assets.razerzone.com/eeimages/products/39/razer-naga-gallery-4.png</string>
	<key>imperator</key>
	<string>https://assets.razerzone.com/eeimages/support/products/215/215_imperator.png</string>
	<key>ouroboros</key>
	<string>https://assets.razerzone.com/eeimages/support/products/26/26_ouroboros.png</string>
	<key>taipan</key>
	<string>https://assets.razerzone.com/eeimages/support/products/19/19_taipan.png</string>
	<key>naga_hex_red</key>
	<string>https://assets.razerzone.com/eeimages/products/12/razer-naga-hex-gallery-12.png</string>
	<key>deathadder_2013</key>
	<string>https://assets.razerzone.com/eeimages/support/products/561/561_deathadder_classic.png</string>
	<key>deathadder_1800</key>
	<string>https://rzrwarranty.s3.amazonaws.com/a7daf40ad78c9584a693e310effa956019cdcd081391f93f71a7cd36d3dc577e.png</string>
	<key>orochi_2013</key>
	<string>https://assets.razerzone.com/eeimages/support/products/612/612_orochi_2015.png</string>
	<key>naga_2014</key>
	<string>https://assets.razerzone.com/eeimages/support/products/227/227_razer_naga_2014.png</string>
	<key>naga_hex</key>
	<string>https://assets.razerzone.com/eeimages/support/products/23/23_naga_hex.png</string>
	<key>deathadder_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/278/278_deathadder_chroma.png</string>
	<key>mamba_wireless</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1404/1404_mamba_wireless.png</string>
	<key>mamba_wired_te</key>
	<string>https://assets.razerzone.com/eeimages/support/products/606/606_mambate_500x500.png</string>
	<key>diamondback_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/613/613_diamondback.png</string>
	<key>naga_hex_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/715/715_nagahexv2_500x500.png</string>
	<key>naga_hex_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/636/636_naga_chroma.png</string>
	<key>deathadder_3500</key>
	<string>https://assets.razerzone.com/eeimages/support/products/561/561_deathadder_classic.png</string>
	<key>lancehead_wired</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1205/1205_lancehead.png</string>
	<key>lancehead_wireless</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1205/1205_lancehead.png</string>
	<key>abyssus_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/721/721_abyssusv2.png</string>
	<key>deathadder_elite</key>
	<string>https://assets.razerzone.com/eeimages/support/products/724/724_deathadderelite_500x500.png</string>
	<key>abyssus_2000</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1277/1277_abyssus_2000.png</string>
	<key>lancehead_te_wired</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1203/1206_lanceheadte.png</string>
	<key>atheris_receiver</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1234/1234_atheris.png</string>
	<key>basilisk</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1241/1241_basilisk.png</string>
	<key>naga_trinity</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1251/1251_razer_naga_trinity.png</string>
	<key>abyssus_elite_dva</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1288/d.va_abyssus_elite.png</string>
	<key>abyssus_essential</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1290/1290_abyssusessential.png</string>
	<key>mamba_elite</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1390/1390_mamba_elite.png</string>
	<key>deathadder_essential</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1385/1385_deathadderessential.png</string>
	<key>lancehead_wireless_receiver</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1205/1205_lancehead.png</string>
	<key>lancehead_wireless_wired</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1205/1205_lancehead.png</string>
	<key>deathadder_essential_white</key>
	<string>https://assets2.razerzone.com/images/da10m/carousel/razer-death-adder-gallery-25.png</string>
	<key>mamba_wireless_receiver</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1404/1404_mamba_wireless.png</string>
	<key>mamba_wireless_wired</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1404/1404_mamba_wireless.png</string>
	<key>viper</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1539/1539_viper.png</string>
	<key>viper_ultimate_wired</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1577/ee_photo.png</string>
	<key>viper_ultimate_wireless</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1577/ee_photo.png</string>
	<key>deathadder_v2_pro</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1714/comp_1_00000.png</string>
	<key>deathadder_v2_pro_wireless</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1714/comp_1_00000.png</string>
	<key>basilisk_x_hyperspeed</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1589/1589_basilisk_x__hyperspeed.png</string>
	<key>deathadder_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1612/1612_razerdeathadderv2.png</string>
	<key>basilisk_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1617/1617_basilisk-v2.png</string>
	<key>basilisk_v2_ultimate</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1590/1590_basilisk_ultimate.png</string>
	<key>basilisk_v2_ultimate_wireless</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1590/1590_basilisk_ultimate.png</string>
	<key>viper_mini</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1634/vipermini.png</string>
	<key>deathadder_v2_mini</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1692/deathadder-v2-mini.png</string>
	<key>blackwidow_ultimate_2012</key>
	<string>https://assets.razerzone.com/eeimages/support/products/563/563_blackwidow_ultimate_classic.png</string>
	<key>blackwidow_stealth_edition</key>
	<string>https://assets.razerzone.com/eeimages/products/17559/razer-blackwidow-gallery-01.png</string>
	<key>anansi</key>
	<string>https://assets.razerzone.com/eeimages/support/products/54/54_anansi.png</string>
	<key>nostromo</key>
	<string>https://assets.razerzone.com/eeimages/support/products/564/564_tartarus_classic.png</string>
	<key>orbweaver</key>
	<string>https://assets.razerzone.com/eeimages/support/products/56/56_orbweaver.png</string>
	<key>blackwidow_ultimate_2013</key>
	<string>https://assets.razerzone.com/eeimages/support/products/245/438_blackwidow_ultimate_2014.png</string>
	<key>blackwidow_stealth</key>
	<string>https://assets.razerzone.com/eeimages/products/17559/razer-blackwidow-gallery-01.png</string>
	<key>tartarus</key>
	<string>https://assets.razerzone.com/eeimages/support/products/228/228_tartarus.png</string>
	<key>deathstalker_expert</key>
	<string>https://assets.razerzone.com/eeimages/support/products/49/49_razer_deathstalker.png</string>
	<key>blackwidow_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/279/279_blackwidow_chroma.png</string>
	<key>deathstalker_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/665/665_deathstalker_chroma.png</string>
	<key>blade_stealth</key>
	<string>https://assets.razerzone.com/eeimages/support/products/667/667_blade_stealth_2016_6500u.png</string>
	<key>orbweaver_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/607/607_orbweaver_chroma.png</string>
	<key>tartarus_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/598/598_tartarus_chroma.png</string>
	<key>blackwidow_chroma_te</key>
	<string>https://assets.razerzone.com/eeimages/support/products/571/571_blackwidow_tournament_edition_chroma.png</string>
	<key>blade_qhd</key>
	<string>https://assets.razerzone.com/eeimages/support/products/736/736_blade_pro_2016.png</string>
	<key>blade_pro_2016</key>
	<string>https://assets.razerzone.com/eeimages/support/products/736/736_blade_pro_2016.png</string>
	<key>blackwidow_overwatch</key>
	<string>https://assets.razerzone.com/eeimages/products/23326/overwatch-razer-gallery-5.png</string>
	<key>blackwidow_ultimate_2016</key>
	<string>https://assets.razerzone.com/eeimages/support/products/616/616_blackwidow_ultimate_2016.png</string>
	<key>blackwidow_x_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/716/716_blackwidow_x_chroma.png</string>
	<key>blackwidow_x_ultimate</key>
	<string>https://assets.razerzone.com/eeimages/support/products/718/718_blackwidow_x_ultimate.png</string>
	<key>blackwidow_x_chroma_te</key>
	<string>https://assets.razerzone.com/eeimages/support/products/717/717_blackwidow_x_tournament_edition_chroma.png</string>
	<key>ornata_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/727/727_ornata_chroma.png</string>
	<key>ornata</key>
	<string>https://assets.razerzone.com/eeimages/support/products/726/726_ornata.png</string>
	<key>blade_stealth_2016</key>
	<string>https://assets.razerzone.com/eeimages/support/products/667/667_blade_stealth_2016_6500u.png</string>
	<key>blackwidow_chroma_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1179/1179_blackwidow_chroma_v2_alt.png</string>
	<key>blade_2016</key>
	<string>https://assets.razerzone.com/eeimages/support/products/736/736_blade_pro_2016.png</string>
	<key>blade_pro_2017</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1200/1200_blade_pro_2017.png</string>
	<key>blackwidow_elite</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1398/1398_blackwidowelite.png</string>
	<key>cynosa_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1256/1256_cynosa_chroma.png</string>
	<key>tartarus_V2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1255/1255_tartarus_v2.png</string>
	<key>blade_stealth_mid_2017</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1213/1213_blade_stealth_2017_7500u.png</string>
	<key>blade_pro_2017_fhd</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1200/1200_blade_pro_2017.png</string>
	<key>blade_stealth_late_2017</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1213/1213_blade_stealth_2017_7500u.png</string>
	<key>blade_2018</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1418/1418_blade_2018__base.png</string>
	<key>blade_pro_2019</key>
	<string>https://assets2.razerzone.com/images/razer-blade-pro-17/razer-blade-pro-17-2019-OGimage-1200x630.jpg</string>
	<key>blade_stealth_2019</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1475/1475_bladestealth13(2019).png</string>
	<key>blade_2019_adv</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1482/blade15.png</string>
	<key>blade_2019_base</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1518/1518_blade15_mid2019-base.png</string>
	<key>cynosa_lite</key>
	<string>https://assets2.razerzone.com/images/og-image/cynosa-lite-OGimage.jpg</string>
	<key>blackwidow_2019</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1501/1501-blackwidow2019.png</string>
	<key>blade_mid_2019_mercury</key>
	<string>https://assets2.razerzone.com/images/blade-15/shop/blade15-mercury-1.jpg</string>
	<key>blade_stealth_late_2019</key>
	<string>https://assets2.razerzone.com/images/blade-stealth-13/shop/stealth-l2p-1.jpg</string>
	<key>blade_pro_late2019</key>
	<string>https://assets2.razerzone.com/images/razer-blade-pro-17/razer-blade-pro-17-2019-OGimage-1200x630.jpg</string>
	<key>blade_stealth_early_2020</key>
	<string>https://assets2.razerzone.com/images/blade-stealth-13/shop/sl25p-fhd-4.jpg</string>
	<key>blade_blade_15_adv_2020</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1651/razer-blade-15-advanced-2020.png</string>
	<key>blade_early_2020</key>
	<string>https://assets2.razerzone.com/images/blade-stealth-13/shop/sl25p-fhd-4.jpg</string>
	<key>blade_stealth_late_2020</key>
	<string>https://assets2.razerzone.com/images/blade-stealth-13/shop/sl25p-fhd-4.jpg</string>
	<key>ornata_chroma_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1672/ornata-v2.png</string>
	<key>cynosa_v2</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1694/1694-2.png</string>
	<key>core</key>
	<string><https://assets.razerzone.com/eeimages/support/products/684/684_razer_core.png/string>
	<key>nommo_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1275/1275_nommo_chroma.png</string>
	<key>nommo_pro</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1419/1419_nommo_pro.png</string>
	<key>firefly</key>
	<string>https://assets.razerzone.com/eeimages/support/products/594/594_firefly_500x500.png</string>
	<key>goliathus_chroma</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1394/1394_goliathus_chroma.png</string>
	<key>goliathus_chroma_extended</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1395/1395_goliathusextended.png</string>
	<key>chroma_mug</key>
	<string>https://assets2.razerzone.com/images/mug-holder/e64e507b73e61c44789d996065fd9645-1500x1000mug_01.jpg</string>
	<key>chroma_hdk</key>
	<string>https://assets2.razerzone.com/images/chromahdk2017/788b689d471fedbc0c5a175592316657-gallery-08.jpg</string>
	<key>kraken_kitty</key>
	<string>https://assets2.razerzone.com/images/pnx.assets/1c503aa176bc82d999299aba0d6c7d2c/kraken-kitty-quartz.png</string>
	<key>mouse_bungee_v3_chroma</key>
	<string>https://assets2.razerzone.com/images/pnx.assets/03970e1bd220f3d2985c5e0060fb3bbf/razer-mouse-bungee-v3-chroma.png</string>
	<key>huntsman_mini</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1689/1689-huntsmanmini.png</string>
	<key>huntsman</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1360/1360_huntsman-3.png</string>
	<key>huntsman_elite</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1361/1361_huntsman_elite.png</string>
	<key>huntsman_mini</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1689/1689-huntsmanmini.png</string>
	<key>huntsman_te</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1537/1537_huntsman_te.png</string>
	<key>mamba_hyperflux</key>
	<string>https://assets.razerzone.com/eeimages/support/products/1276/1276_hyperflux.png</string>
	<key>manowar</key>
	<string>https://assets.razerzone.com/eeimages/support/products/695/695_manowar.png</string>
</dict>
</plist>
